/*.cardHome {
	 position: relative;
	 width: 300px;
	 height: 250px;
	 margin: 4% auto;
	 overflow: hidden;
	 border-radius: 10px;
	 box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
}
.cardHome a {
	 display: block;
	 height: 100%;
	 width: 100%;
}
.cardHome:hover .thumb img {
	 width: 120%;
	 margin: -15% 0 0 -10%;
}
.cardHome:hover .copy {
	 bottom: 0;
	 background-color: rgba(255, 255, 255, .95);
	 padding: 1.6rem 0.8rem 0.8rem;
}
.cardHome .thumb {
	 position: absolute;
	 z-index: -10;
}
.cardHome .thumb img {
	 width: 100%;
	 margin: 0;
	 transition: all 0.4s ease-in-out;
}
.cardHome .copy {
	 position: absolute;
	 top: auto;
	 bottom: -4.8rem;
	 left: 0;
	 right: 0;
	 padding: 1rem 0.8rem;
	 border-radius: 12px 12px 0 0;
	 background-color: rgba(255, 255, 255, .8);
	 transition: all 0.4s ease-in-out;
}
.cardHome .copy .label {
	 font-size: 0.8rem;
	 font-weight: 600;
	 color: #eee;
	 background-color: black;
	 display: inline;
	 padding: 2px 8px;
	 border-radius: 4px;
}
.cardHome .copy .title {
	 font-size: 1.2rem;
	 color: black;
	 display: -webkit-box;
	 max-width: 100%;
	 -webkit-line-clamp: 1;
	 -webkit-box-orient: vertical;
	 overflow: hidden;
	 text-overflow: ellipsis;
}
.cardHome .copy .text {
	 font-size: 1rem;
	 font-weight: 300;
	 color: black;
	 display: -webkit-box;
	 max-width: 100%;
	 -webkit-line-clamp: 2;
	 -webkit-box-orient: vertical;
	 overflow: hidden;
	 text-overflow: ellipsis;
}*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
}
body.active{
  background: rgb(44,44,44) !important;
}
body.active div.cardHome{
  background: rgb(0, 0, 0) !important;
  color: rgb(0, 0, 0) !important;
  box-shadow: 0 1px 5px -3px rgba(0, 0, 0, 0.8);
}
div.cardHome{
  position: relative;
  width: 350px;
  min-height: 300px;
  max-height: 400px;
  height: auto;
  margin: 10px;
  padding: 25px;
  background: rgba(0, 0, 0, 0.1) !important;
  transform: scale(0.97);
  box-shadow: 0 1px 5px -3px rgb(143,143,143,0.7);
  border-radius: 15px;
  box-sizing: border-box;    
  float: left;
  font-family: 'Quicksand',Sans-Serif;
  overflow: hidden;
  transition: 0.80s;
}
div.cardHome:hover{
  transform: scale(1);
  transition: 0.20s;
}
div.cardHome:hover div.bottom-area{
  opacity: 1;
  transform: translateY(0);
  transition: 0.30s all;
}
div.cardHome:hover div.contant p{
  opacity: 0;
  transform: translateY(-40px);
  transition: 0.50s all;
  transition-delay: 0.1s;
}
div.cardHome:hover div.title{
  opacity: 0;
  transform: translateY(-40px);
  transition: 0.50s all;
  transition-delay: 0.05s;
}
div.cardHome:hover div.image{
  height: 350px;
  transition: 0.75s all;
  transition-delay: 0.45s;
}
div.cardHome div.image{
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.75s all;
  transition-delay: 0.2s;
}
div.cardHome div.image img{
  width: 100px;
  margin-bottom: 15px;
  background-position: cover;
}
div.cardHome div.title{
  position: relative;
  width: 100%;
  min-height: 40px;
  max-height: 80px;
  height: auto;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1px;
  box-sizing: border-box;
  overflow: hidden;
  transition: 0.70s all;
  transition-delay: 0.55s;
}
div.cardHome div.contant{
  position: relative;
  min-width: 100%;
  width: 100%;
  min-height: 100px;
  max-height: 175px;
  height: auto;
  overflow: hidden;
}
div.cardHome div.contant p{
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 150%;
  transition: 0.95s all;
  transition-delay: 0.75s;
}
div.cardHome div.bottom-area{
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 75px;
  padding: 5px;
  opacity: 0;
  box-sizing: border-box;
  transition: 0.70s all;
  transition-delay: 0.65s;
}
div.cardHome div.bottom-area a.button-read{
  position: relative;
  margin: 0 15px;
  padding: 0px 5px;
  width: 125px;
  height: 45px;
  background: rgb(27,27,27);
  border-radius: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: rgb(231,231,231);
}
@media screen and (max-width: 620px){
  div.cardHome{
    float: none;
    background: none;
    box-shadow: none;
    margin: 30px auto;
  }
}